@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="gallery-container">
        <div class="text-center title-images">
            <h1 class="display-4"><em>We are the </em><strong style="color:rgb(128,0,0)">Fratican</strong>.</h1>
        </div>
        <div class="gallery">
            <img src="~/images/gallery/gallery_1.JPG" alt="Image 1" class="gallery-image">
            <img src="~/images/gallery/gallery_2.JPG" alt="Image 2" class="gallery-image">
            <img src="~/images/gallery/gallery_3.JPG" alt="Image 3" class="gallery-image">
            <img src="~/images/gallery/gallery_4.JPG" alt="Image 4" class="gallery-image">
            <img src="~/images/gallery/gallery_5.JPG" alt="Image 5" class="gallery-image">
            <img src="~/images/gallery/gallery_6.JPG" alt="Image 6" class="gallery-image">
            <img src="~/images/gallery/gallery_7.JPG" alt="Image 7" class="gallery-image">
            <img src="~/images/gallery/gallery_8.JPG" alt="Image 8" class="gallery-image">
            <img src="~/images/gallery/gallery_9.JPG" alt="Image 9" class="gallery-image">
            <img src="~/images/gallery/gallery_10.JPG" alt="Image 10" class="gallery-image">
            <img src="~/images/gallery/gallery_11.JPG" alt="Image 11" class="gallery-image">
            <img src="~/images/gallery/gallery_12.JPG" alt="Image 12" class="gallery-image">
            <img src="~/images/gallery/gallery_13.JPG" alt="Image 13" class="gallery-image">
            <img src="~/images/gallery/gallery_14.JPG" alt="Image 14" class="gallery-image">
            <img src="~/images/gallery/gallery_15.JPG" alt="Image 15" class="gallery-image">
            <img src="~/images/gallery/gallery_16.JPG" alt="Image 16" class="gallery-image">

        </div>
    </div>

    <div class="background-pillars">
        <div class="text-center title-pillars">
            <h1 class="display-4"><em>Our <strong style="color:rgb(128,0,0)">5</strong> Pillars</em>.</h1>
        </div>
        <div class="container-pillars">
            <div class="card-container">
                <div class="card">
                    <div class="pillar-icon">
                        <a class="link" asp-area="" asp-controller="Pillars" asp-action="Leadership" title="Leadership">
                            <i class="bi bi-person-fill"></i>
                        </a>
                    </div>
                    <h3>Leadership</h3>
                    <p>
                        Phi Kappa Theta actively develops the next generation of business, professional, and civic leaders by providing real-world experience. Campus organizations, communities, and employers worldwide seek Phi Kappa Theta members because they are ethical, value-based, and socially responsible leaders. Our leaders are known for their ability to inspire and serve others, take intelligent risks, and learn from their mistakes.
                    </p>
                </div>
                <div class="card">
                    <div class="pillar-icon">
                        <a class="link" asp-area="" asp-controller="Pillars" asp-action="Fraternal" title="Fraternal">
                            <i class="bi bi-people-fill"></i>
                        </a>
                    </div>
                    <h3>Fraternal</h3>
                    <p>Our house strives to provide the opprunity for true friendship. Bortherly love, true commitment in relations can reveal to those involved the reality of God that we seek. Brotherly live increases and strengthens both sides of the relationship. Through our brotherhood, we are able to call one another higher, to be the men God created us to be.</p>
                </div>
                <div class="card">
                    <div class="pillar-icon">
                        <a class="link" asp-area="" asp-controller="Pillars" asp-action="Spiritual" title="Spiritual">
                            <img src="~/images/church-icon.png" alt="Icon" style="height:100px;">
                        </a>
                    </div>
                    <h3>Spiritual</h3>
                    <p>
                        The Spiritual Pillar is the one value that sets Phi Kappa Theta apart from other fraternities. Our members recognize the importance of growing not only as men in society, but as sons of God. In college, growing in your faith life can be difficult to do as an individual, but it is much easier when your brothers desire and encourage your betterment through:
                    </p>
                </div>
                <div class="card">
                    <div class="pillar-icon">
                        <a class="link" asp-area="" asp-controller="Pillars" asp-action="Social" title="Social">
                            <i class="bi bi-chat-left-dots"></i>
                        </a>
                    </div>
                    <h3>Social</h3>
                    <p>Phi Kappa Theta strives to build up connections with other fraternities and sororities within the Greek community. We also stretch beyond the Greek community to build networks with other groups and organizations throughout the campus and the Lincoln community. The Vice President of Social schedules events such as formals, intramural sports, movie nights, tailgates, ice skating, sorority brunches, and more.</p>
                </div>
                <div class="card">
                    <div class="pillar-icon">
                        <a class="link" asp-area="" asp-controller="Pillars" asp-action="Intellectual" title="Intellectual">
                            <i class="bi bi-book"></i>
                        </a>
                    </div>
                    <h3>Intellectual</h3>
                    <p>
                        Our individual pursuit of education is what has brought us together. Education enables and empowers us to face what lies ahead. Our fraternity strives to equip each member with the tools and preparation he needs to develop intellectually and succeed academically.
                    </p>
                    <h1 class="title"><em>Over 60% of our members have above a <strong style="color:rgb(128,0,0)">3.5 GPA</strong></em>.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="message-container">
        <img src="~/images/paul.jpg" alt="Paul Owens" class="profile-image">
        <div class="text-container">
            <div class="text-center title">
                A Message from our President
            </div>
            <p>My name is Paul Owens and I am pumped about this opportunity to serve as President for the Nebraska Pi Chapter of Phi Kappa Theta Fraternity in 2023. I am a Mechanical Engineering major from Omaha, NE. Previously, I served as the recruitment chair in 2022. Additionally, I am involved in the Newman Center and intramural sports.</p>
            <p>Phi Kappa Theta is the best way to grow as a man in every aspect in college. We have great success, but what sets us apart is the spiritual development that you can’t find in any other fraternity. This comes from a brotherhood rooted in Christ- living and going through college with a group of young men that share the same values and are striving for the same goals. Choosing to rush Phi Kappa Theta was truly one of the best decisions of my life. We hold our standards high with five pillars - fraternal, social, intellectual, leadership, and spiritual. We thrive from our Catholic foundation and values. Our brotherhood is rooted in our relationship with Christ as we navigate the college life together. </p>
            <p>I want to thank you for visiting our website. If you are a potential recruit interested in joining our fraternity, feel free to reach out to myself or our recruitment team. We would be happy to answer any questions, meet up and chat, or schedule a visit to our house.</p>
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const images = document.querySelectorAll('.gallery-image');
        let index = 0;

        function showImage() {
            images.forEach(image => {
                image.classList.remove('active');
            });
            images[index].classList.add('active');
            index = (index + 1) % images.length;
        }

        // Show the first image immediately
        showImage();

        // Set interval to rotate images
        setInterval(showImage, 3000); // Adjust the interval (in milliseconds) as needed

    });
</script>