@{
    ViewData["Title"] = "Fraternal";
}

<div class="background-pillars">
    <div class="text-center title-pillars">
        <h1 class="display-4"><em>The <strong style="color:rgb(128,0,0)">Fraternal</strong> Pillar</em>.</h1>
    </div>
    <div class="container-pillars" >
        <div class="pillar-card">
            <div class="pillar-icon">
                <i class="bi bi-people-fill"></i>
            </div>
            <h3 class="title">Fraternal</h3>
            <p>Throughout our lives we encounter and become part of significant relationships. These are a part of what makes us who we are. Friendship is a way of living in commitment to another person. It is being present, supportive, and giving.</p>
            <p>
               Our house strives to provide the opprunity for true friendship. Bortherly love, true commitment in relations can reveal to those involved the reality of God that we seek. Brotherly live increases and strengthens both sides of the relationship. Through our brotherhood, we are able to call one another higher, to be the men God created us to be. 
            </p>
            <p>
                Phi Kappa Theta fosters the development of lifelong friendships and accountability through:
                <ul>
                    <li>Weekend & School Break Trips</li>
                    <li>Intermural Sports</li>
                    <li>isits to other Phi Kappa Theta Chapters across the country</li>
                    <li>Brotherhood sporting events</li>
                    <li>March Madness & Fantasy Football</li>
                    <li>Late-night food runs</li>
                </ul>
            </p>
        </div>
    </div>
</div>