@{
    ViewData["Title"] = "Social";
}

<div class="background-pillars">
    <div class="text-center title-pillars">
        <h1 class="display-4"><em>The <strong style="color:rgb(128,0,0)">Social</strong> Pillar</em>.</h1>
    </div>
    <div class="container-pillars" >
        <div class="pillar-card">
            <div class="pillar-icon">
                <i class="bi bi-chat-left-dots"></i>
            </div>
            <h3 class="title">Social</h3>
            <p>We were not created to live our lives alone. We are compelled band called by God to interact, to connect with others as families, as groups of friends, as brothers. We are social beings.</p>
            <p>
                Phi Kappa Theta fosters human development through community service and social interaction. Our members are socially engaged, recognizing their responsibility to affect positive change in themselves and others. Our fraternity's values are demonstrated through the actions of our members, who better their communities as citizens in a global society.
            </p>
            <p> Phi Kappa Theta strives to build up connections with other fraternities and sororities within the Greek community. We also stretch beyond the Greek community to build networks with other groups and organizations throughout the campus and the Lincoln community. The Vice President of Social schedules events such as formals, intramural sports, movie nights, tailgates, ice skating, sorority brunches, and more.</p>
        </div>
    </div>
</div>