@{
    ViewData["Title"] = "Spiritual";
}

<div class="background-pillars">
    <div class="text-center title-pillars">
        <h1 class="display-4"><em>The <strong style="color:rgb(128,0,0)">Spiritual</strong> Pillar</em>.</h1>
    </div>
    <div class="container-pillars" >
        <div class="pillar-card">
            <div class="pillar-icon">
                <i class="bi bi-people-fill"></i>
            </div>
            <h3 class="title">Spiritual</h3>
            <p>
                The Spiritual Pillar is the one value that sets Phi Kappa Theta apart from other fraternities. Our members recognize the importance of growing not only as men in society, but as sons of God. In college, growing in your faith life can be difficult to do as an individual, but it is much easier when your brothers desire and encourage your betterment through:
                <ul>
                    <li>Bible Studies</li>
                    <li>Spiritual Retreats</li>
                    <li>Daily Mass</li>
                    <li>FOCUS Greek</li>
                    <li>Mission Trips</li>
                    <li>Catholic Speakers</li>
                </ul>
            </p>
            <p>
               Our house seeks to foster the faith lives of all of the men within it. The beauty of Phi Kap is that by surrounding yourself with good men striving in their faith, your faith may improve without you even realizing it.
            </p>
        </div>
    </div>
</div>